# .NET
backend/**/bin/
backend/**/obj/
*.user

# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Env
.env

# OS
.DS_Store

# Visual Studio (cache local, nunca deve ir pro repositório)
backend/.vs/
**/.vs/